.signup-div {
    margin: auto;
    width: 70%;
    padding: 10px;
    font-family: var(--font-family-type);
}

.signup-div-disabled {
    margin: auto;
    width: 70%;
    padding: 10px;
    font-family: var(--font-family-type);
    pointer-events: none;
    opacity: 0.4;
}

.signup-div h1, .signup-div-disabled h1 {
    color: var(--primary-color);
    font-size: 50px;
    margin-top: 16px;
}

.signup-div h2, .signup-div-disabled h2 {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

.signup-div input, .signup-div-disabled input {
    width: 100%;
    height: 32px;
    font-size:24px;
    border-radius: 8px;
    border-color: var(--secondary-color);
    border-width: 1px;
    margin-bottom: 20px;
    padding-left: 8px;
}

.signup-div input::placeholder {
    font-size: 20px;
}

.signup-div .email-input, .signup-div-disabled .email-input {
    margin-bottom: 4px;
}

.signup-div .confirm-password-input, .signup-div-disabled .confirm-password-input {
    margin-bottom: 4px;
}

.signup-div p, .signup-div-disabled p {
    color: var(--secondary-color-dark);
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}

.signup-div .match {
    color: transparent;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
}

.signup-div .notMatch {
    color: var(--error-color-dark);
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
}

.signup-div .link, .signup-div-disabled .link {
    text-decoration: none;
    color: var(--primary-color);
}

.signup-div .link:hover {
    color: var(--primary-color-dark);
}

.signup-div .error {
    color: var(--error-color-dark);
    font-weight: bold;
    font-size: 16px;
}
