.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/background.jpg");
    height: 100vh;
    width: 100vw;
}

.home-div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -25px;
}

.home-div button {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background: rgba(45, 171, 196, 0.85);
    border-radius: 8px;
    border: none;
    padding: 8px 20px;
    margin-left: 8px;
    width: 100px;
}

.home-div button:hover {
    font-weight: bold;
}

.home-div .buttonLogin {
    width: 80px;
}
