.main-menu .right-side-links a:hover,
.main-menu .active {
  text-decoration: underline;
}

.main-menu {
  background: var(--primary-color);
  font-family: var(--font-family-type);
  padding: 0.5rem 1rem;
}

.main-menu menu {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu a {
  color: var(--text-color);
  text-decoration: none;
}

.main-menu .right-side-links {
  margin-left: auto;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.6cm;
  gap: 30px;
}

.main-menu .logo {
  font-size: 26px;
  margin-left: 0.6cm;
  margin-top: 0.25cm;
  margin-bottom: 0.25cm;
}

.welcome {
  color: var(--primary-color-dark);
  font-size: 20px;
}

.logout {
  vertical-align: middle;
}
